body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
}

html {
  width:100%;
  height:100%;
}

.login-main {
  background-color: #3f51b5;
  width: 100%;
  height: 100%;

}

.mid-position {
  margin-left: auto;
  margin-right:auto;
  display:block;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.main-icon {
  float: left;
  vertical-align: middle;
  margin-top: 15px;
}

.main-menu {
  float: left;
  vertical-align: middle;
}

.panel-format {
  width: 100%;
}

.system-card {
  border-radius: 15px;
}

.workspace-container {
  width:90%;
  height:600px;
  top: 50%;
  left: 50%;
  border-radius:15px;
}

/** column size declaration*/
.full-width {
  width: 100%;
}

.col-sm-8 {
  width: 75%;
}

.col-sm-12 {
  width: 95%;
}

.col-sm-6 {
  float: left;
  width: 46.5%;
  margin-right: 20px;
}

.col-sm-4 {
  float: left;
  width: 30.5%;
  margin-right: 18px;
}

.col-sm-3 {
  float: left;
  width: 23%;
  margin-right: 14px;
}

.col-sm-2 {
  float: left;
  width: 13%;
  margin-right: 20px;
}

.workspace-title {
  margin-top: auto;
  margin-bottom: 10px;
  color: #6F6F6F;
}



/** text color*/
.text-danger {
  color: #a94442;
  font-size: 12px;
}


/** head bar, left nav and workspace layout*/
.header-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.blank-space {
  flex: 1 1 auto;
}

.sideNav-container {
  flex: 1;
}

.left-nav {
  position: absolute;
  padding: 0 0px;
  width:250px;
  top: 0px;
}



